body 	{
  font-size: 10pt;
  font-family: Verdana, Arial, sans-serif;
}

td 	{
  font-size: 10pt;
}

b 	{
  font-weight: bold;
  font-size: 10pt;
}

p 	{
  font-size: 10pt;
}

h1 {
  font-size: 22pt;
  font-weight: bold;
}

h2 {
  font-size: 18pt;
  font-weight: bold;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
}

div#test-1-to-120 {
  width: 100%;
}

div.math-problem {
  margin: 5px 0 5px 0;
  font-size: 3em;
  display: inline-flex;
  justify-content: center;
}
